################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TeddWeb/.vs/TeddWeb/FileContentIndex/bd191588-45da-417c-82cc-cdea5cd7d9a5.vsidx
