################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TeddWeb/.vs/TeddWeb/FileContentIndex/bd191588-45da-417c-82cc-cdea5cd7d9a5.vsidx
/TeddWeb/.vs/TeddWeb/FileContentIndex/6b6bdc44-82f2-41e5-b478-c7e970b80dd8.vsidx
/TeddWeb/.vs/TeddWeb/FileContentIndex/b1affe61-8673-4510-b4ba-84ad7123e778.vsidx
/TeddWeb/.vs/TeddWeb/FileContentIndex/e39391a8-79ca-4aba-bafc-0e3306958740.vsidx
